{% if page.metafields["custom_fields"]["faq"] != blank %}
  <section class="section section-faq custom-field custom-field__faq custom-field__type--field-collection-json">
    
    <div class="section-faq__wrap container">
      <div class="search-box">
        <button class="search-box__btn">
          <svg class="search-box__icon">
            <use xlink:href="img/sprites/mono.svg#search"></use>
          </svg>
        </button>
        <input type="text" class="search-box__input" placeholder="Search FAQ" >
      </div>

      <div class="search-content">

        <div class="search-content__header">
          <ul class="search-tabs">
            <li class="search-tabs__item active" data-tab="order">Order</li>
            <li class="search-tabs__item" data-tab="payment">Payment</li>
            <li class="search-tabs__item" data-tab="shipment">ShIpment</li>
            <li class="search-tabs__item" data-tab="account">Account</li>
          </ul>
        </div>
        
        <div class="search-content__body">
          <div class="accordion-prompt">
            <div class="accordion-prompt__header">
              <p>Sorry!</p>
              <p>We can't find a match.</p>
            </div>
            <div class="accordion-prompt__text-box">
              <p>
                Please review the word or try another search.
              </p>
            </div>
          </div>
          <!-- /.accordion-prompt -->
          <div class="accordion"> 
            {% for item in page.metafields["custom_fields"]["faq"] %}
              <div class="accordion__item" data-index="{{ forloop.index0 }}" 
              {% if item["tab"] != blank %}
                data-tab="{{ item["tab"] }}"
              {% endif %}
              >
                  {% if item["question"] != blank %}
                    <div class="accordion__header">
                      <h4 class="accordion__title">{{ item["question"] }}</h4>
                      
                      <!-- <svg class="accordion__icon">
                        <use xlink:href="img/sprites/mono.svg#accordion-arrow"></use>
                      </svg> -->
                      <div class="accordion__icon">
                        ⯆
                      </div>
                    </div>
                  {% endif %}
                  {% if item["answer"] != blank %}
                    <div class="accordion__content text-box">
                      {{ item["answer"] }}
                    </div>
                  {% endif %}
              </div>
            {% endfor %} 
          </div>
        </div>

      </div>
      
    </div>

  </section>
{% endif %}